.paperedge-bottom:after{
  content: '';
  display: block;
  width: 100%;
  transform: rotate(180deg);
  height: 65px;
  position: absolute;
  background-image: var(--background-image);
  margin-top: -35px;
  z-index:0;
  filter: drop-shadow( 5px 10px 5px rgba(0, 0, 0, .05));
}
