#top-nav {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1337;

  #header-signature {
    position: relative;
  }

  #logo {
    width: 12rem;
    filter: drop-shadow( 0px -3px 20px rgba(0, 0, 0, .9));
  }

  #top-nav-links .subtitle {
    color: white;
  }

  #top-nav-links a {
    position: relative;
    color: white;
  }

  #top-nav-links a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid var(--paperwhite);
    transition: 0.4s;
  }

  #top-nav-links a:hover:after {
    width: 100%;
  }
}
