{% load static %}
{% load i18n %}

<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author"
          content="{% block author %}Victoria Scheer{% endblock %}">
    <meta name="description" content="{% block description %}Biology student and writer.{% endblock %}">
    <title>{% block title %}Victoria Scheer{% endblock %}</title>

    <link rel="preload"
          href="{% static 'css/bulma.min.css' %}"
          as="style">
    <link href="{% static 'css/bulma.min.css' %}" rel="stylesheet">

    <link rel="preload"
          href="{% static 'css/base.min.css' %}"
          as="style">
    <link href="{% static 'css/base.min.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <main>
      {% block main %}{% endblock %}
    </main>

    <link rel="prefetch" href="{% static 'vendor/js/anime.min.js' %}">
    <script defer src="{% static 'vendor/js/anime.min.js' %}"></script>
    <link rel="prefetch" href="{% static 'js/hook.min.js' %}">
    <script defer src="{% static 'js/hook.min.js' %}"></script>
    {% block extrabody %}{% endblock %}
  </body>
</html>
