{% load static %}

{% block extrahead %}
<link rel="preload"
      href="{% static 'css/blog.min.css' %}"
      as="style">
<link href="{% static 'css/blog.min.css' %}" rel="stylesheet">
{% endblock %}

<div class="paperedge-bottom"
     style="--background-image: url({% static 'img/paper-border.webp' %});">
</div>

<div class="hero has-text-centered pt-6" id="blog-und-stories">
  <h1 class="title calligraphy is-size-1-tablet">Blog & Stories</h1>
</div>

{% for entry in entries %}
{% if forloop.first %}
{% include 'entries/entry-feature-card.html' %}
{% endif %}
{% endfor %}

<div class="container">
  <div class="columns is-multiline is-centered">
    {% for entry in entries %}
    {% if not forloop.first %}
    {% include 'entries/entry-card.html' %}
    {% endif %}
    {% endfor %}
  </div>
</div>
