{% load static %}
{% load i18n %}

{% block extrahead %}
<link rel="preload"
      href="{% static 'css/blume.min.css' %}"
      as="style">
<link href="{% static 'css/blume.min.css' %}" rel="stylesheet">
{% endblock %}

<div id="{% trans 'nav-fragment-mnl' %}"></div>
<section id="blume-section">
  <div id="blume-background"
       style="background-image: url({% static 'img/blume-background.webp' %});">
  </div>
  <div id="blume-treppe"
       style="background-image: url({% static 'img/blume-treppe.webp' %});">
  </div>
  <div id="blume"
       style="background-image: url({% static 'img/blume.webp' %});">
  </div>
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="hero has-text-centered">
        <h1 class="title calligraphy pt-6 px-6 has-text-white">
          {% trans 'blume-title' %}
        </h1>
        <h5 class="subtitle typewriter pt-2 px-6 has-text-white">
          {% trans 'blume-subtitle' %}
        </h5>
        <p class="title typewriter has-text-white pt-6 px-6">{% trans 'blume-ref' %}</p>
      </div>
    </div>
  </div>
  <div style="padding-top: 12rem"></div>
</section>

{% block extrabody %}
<link rel="prefetch" href="{% static 'js/blume.min.js' %}">
<script defer src="{% static 'js/blume.min.js' %}"></script>
{% endblock %}
