{% load static %}

{% block extrahead %}
<link rel="preload"
      href="{% static 'css/book.min.css' %}"
      as="style">
<link href="{% static 'css/book.min.css' %}" rel="stylesheet">
{% endblock %}

<section id="book-app" data-current-media="book">
    {% include 'text.html' %}

    <div class="hero has-text-centered px-6">
        <h1 class="title pb-6 is-size-1-tablet">Meine "Match of Survival" Reihe</h1>
    </div>

    <article class="media-container pt-3">
        <div class="book-wrapper">
            <div class="book">
                <div class="book__front">
                    <img src="{% static 'img/mos1.webp' %}" alt="cover">
                </div>
                <div class="book__paper"></div>
                <div class="book__back"></div>
            </div>
            <div class="book-shadow"></div>
        </div>
        <div class="book-wrapper">
            <div class="book">
                <div class="book__front">
                    <img src="{% static 'img/mos2.webp' %}" alt="cover">
                </div>
                <div class="book__paper"></div>
                <div class="book__back"></div>
            </div>
            <div class="book-shadow"></div>
        </div>
        <div class="book-wrapper">
            <div class="book">
                <div class="book__front">
                    <img src="{% static 'img/mos3.webp' %}" alt="cover">
                </div>
                <div class="book__paper"></div>
                <div class="book__back"></div>
            </div>
            <div class="book-shadow"></div>
        </div>
    </article>
</section>

