{% load static %}

{% block extrahead %}
<link rel="preload"
      href="{% static 'css/footer.min.css' %}"
      as="style">
<link href="{% static 'css/footer.min.css' %}" rel="stylesheet">
{% endblock %}

<hr>

<section id="footer" class="px-6 pt-6 p-6">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-4 has-text-centered">
        <p>Victoria Scheer</p>
        <p>Clara-Viebig-Straße 9</p>
        <p>01159 Dresden</p>
        <p>kontakt@victoria-scheer.de</p>
        <p class="pt-3">
          <small>Design und Realisation von <a rel="noreferrer" href="https://philippmatth.es" target="_blank">Philipp Matthes</a></small>
        </p>
      </div>
    </div>
  </div>
</section>
