{% load static %}
{% load i18n %}

<section id="reveal" class="container" style="padding-top: 12rem; padding-bottom: 12rem;">
    <div class="columns is-centered">
        <div class="column is-5">
            {% comment %}Show EN or DE version depending on the browser locale{% endcomment %}
            {% if request.LANGUAGE_CODE == 'en' %}
                <img src="{% static 'img/mockup-en.webp' %}">
            {% else %}
                <img src="{% static 'img/mockup-de.webp' %}">
            {% endif %}
        </div>
        <div class="column is-5 pt-6">
            <p class="typewriter subtitle pb-2 has-text-centered">
                {% trans 'reveal-date' %}
            </p>
            <p class="calligraphy projecttitle pb-2 has-text-centered">
                {% trans 'reveal-title' %}
            </p>
            <p class="calligraphy subtitle pb-2 has-text-centered">
                {% trans 'reveal-subtitle' %}
            </p>
            <p class="typewriter subtitle pb-2 has-text-centered">
                {% trans 'reveal-text' %}
            </p>
        </div>
    </div>
</section>
