<section class="hero">
  <div class="hero-body">
    <a href="{% url 'entries:index' entry.slug %}">
    <div class="container">
      {% if entry.thumbnail %}
        <div class="columns is-centered">
          <div class="column is-10">
            <figure class="image is-16by9 is-round">
              <img class="thumbnail" alt="thumbnail"
                    src="{% url 'entries:index' entry.slug %}{{ entry.thumbnail }}">
            </figure>
          </div>
        </div>
      {% endif %}

      <section class="section pt-2">
        <div class="columns is-centered">
          <div class="column is-10">
            <div class="content is-medium">
              <h1 class="title calligraphy is-size-3">{{ entry.title }}</h1>
              <p class="subtitle">{{ entry.description }}</p>
              <small>Von {{ entry.authors }}, ungefähr {{ entry.minutes_to_read }} Minuten Lesezeit</small>
            </div>
          </div>
        </div>
      </section>
    </div>
    </a>
  </div>
</section>
