{% extends 'base.html' %}
{% load static %}
{% load markdown %}

{% block title %}{{entry.title}}{% endblock %}
{% block description %}{{entry.description}}{% endblock %}
{% if entry.author %}{% block author %}{{entry.author}}{% endblock %}{% endif %}

{% block extrahead %}
<link rel="preload"
      href="{% static 'css/blog.min.css' %}"
      as="style">
<link href="{% static 'css/blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% if entry.thumbnail %}
  <img class="markdown thumbnail"
      alt="thumbnail"
      src="{{ entry.thumbnail }}">
{% endif %}
<h1>{{ entry.title }}</h1>
<p class="lead text-light">{{ entry.description }}</p>
<p class="text-light">Published by <strong>{{ entry.authors }}</strong> {{ entry.created|timesince }} ago</p>
{% endblock %}

{% block main %}

{% include 'navigation.html' %}

<div class="pt-6"></div>

{% include 'entries/entry-feature-card.html' %}

<div class="container px-6" style="position: relative">
{% if entry %}
  <div class="columns is-centered">
    <div class="column is-10">
      <div class="markdown justify">
        {{ entry.markdown|markdown }}
      </div>
      <div class="reading-overlay"></div>
    </div>
  </div>
{% endif %}
</div>

<div class="container has-text-centered pt-6 px-6">
  <p>
    {% for tag in entry.tags_list %}
      <span class="tag is-dark">
        {{ tag }}
      </span>
    {% endfor %}
  </p>
</div>

<hr>


{% if entries %}
  <div class="container">
    <h1 class="calligraphy has-text-centered pb-6">Das könnte Dich auch interessieren</h1>
    <div class="columns is-multiline is-centered">
      {% for entry in entries %}
      {% include 'entries/entry-card.html' %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% include 'book.html' %}
{% include 'footer.html' %}

{% endblock %}
